<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="haveAccount">Sign in</ion-title>
    <ion-title *ngIf="!haveAccount">Sign up</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form *ngIf="haveAccount" [formGroup]="form" (submit)="signin()">
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <button ion-button type="submit" [disabled]="!form.valid">Sign In</button>
  </form>

  <form *ngIf="!haveAccount" [formGroup]="form" (submit)="signup()">
    <ion-item>
      <ion-label floating>FirstName</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>LastName</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <button ion-button type="submit" [disabled]="!form.valid">Sign Up</button>
  </form>
</ion-content>
